.rowPropia
{
    display: flex;
    gap: 10px;
}

mat-form-field
{
    width: 100%;
}

.action
{
    padding: 0px 25px 20px ;
    
}

button
{

    flex:1;
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

    #image-button {
        display: inline-block;
        /* width: 100px;
        height: 100px; */
        cursor: pointer;
        overflow: hidden;
      }
  
      #file-input {
       display: none;
      }


mat-radio-group
{
    display: flex;
    /* flex-direction: column;  */
    /* margin: 15px 0; */
    /* align-items: flex-start; */

}


  