.rowPropia
{
    display: flex;
    gap: 10px;
}

mat-form-field
{
    width: 100%;
}

.action
{
    padding: 0px 25px 20px ;
    
}

button
{

    flex:1;
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }


  