<div mat-dialog-title>
    <h1>Mascota</h1>
</div>
<form>
<div mat-dialog-content class="content">
  <div class="rowPropia">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput type="tex" placeholder="Nombre">
    </mat-form-field>
    <mat-form-field appearance="outline">
       <mat-label>Edad</mat-label>
       <input matInput type="number" placeholder="Edad">
     </mat-form-field>
  </div>
  <div class="rowPropia">
    <mat-form-field appearance="outline">
      <mat-label>Raza</mat-label>
      <input matInput type="tex" placeholder="Nombre">
    </mat-form-field>
    <mat-form-field appearance="outline">
       <mat-label>Peso</mat-label>
       <input matInput type="number" placeholder="Peso">
     </mat-form-field>
  </div>
</div>

<div mat-dialog-actions class="action">
  <button mat-raised-button>Cancelar</button>
  <button mat-raised-button color="primary">Guardar</button> 
   
</div>
</form>







